@using Client.Models
@using Client.Services
@inject NavigationManager NavigationManager
@inject ResultService ResultService

<h4>Your result</h4>
<p>@Result.CorrectAnswersCount / @Result.QuestionCount</p>

<button class="btn-primary" @onclick="Reload">OK</button>

@code {
    [Parameter]
    public ResultModel Result { get; set; }

    private async Task Reload()
    {
        await ResultService.SendResultAsync(Result);
        NavigationManager.NavigateTo(Result.ReturnUrl ?? "/", true);
    }
}