@using Client.Models
<h3>Test</h3>

<h4>Questions</h4>
@if (Test != null)
{
    @foreach (var question in Test.Questions)
    {
        <EditForm Model="@question">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <QuestionComponent Question="question"/>
        </EditForm>
    }
}
<button class="btn-primary m-1" @onclick="AddQuestion">Add Question</button>

@code {
    [CascadingParameter]
    public TestsModel? Test { get; set; }

    private void AddQuestion()
    {
        Test.Questions.Add(new Question(""));
    }

}