@using Client.LocalStorage
@using Client.Models
@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

@code {
    private async Task LogOut()
    {
        await LocalStorageService.RemoveAsync(nameof(TokenModel));
        NavigationManager.NavigateTo("/", true);
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <button class="btn-light" @onclick="LogOut">Log out</button>
                </div>
            </Authorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>