@page "/CreateTest"
@using Client.Models
@using Client.Services
@using Microsoft.AspNetCore.Authorization
@inject TestsService TestsService
@inject NavigationManager NavigationManager
@attribute [Authorize]
<h3>CreateTest</h3>


<CascadingValue Value="TestsModel">
    <EditForm Model="TestsModel">
        <TestComponent/>
    </EditForm>
</CascadingValue>

<button class="btn-primary" @onclick="SaveTest">Save test</button>

@code {
    private TestsModel TestsModel { get; set; }

    protected override void OnInitialized()
    {
        TestsModel = new TestsModel();
    }

    protected async Task SaveTest()
    {
        var result = await TestsService.CreateTest(TestsModel);
        if (result)
            NavigationManager.NavigateTo("/CreateTest", true);
    }

}