@page "/"

<h1>Welcome to testing platform</h1>

<AuthorizeView>
    <Authorized>
        <p>You are authorized</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized</p>
        <p>Go to <a href="/login">login page</a></p>
    </NotAuthorized>
    <Authorizing>
        <p>Check</p>
    </Authorizing>
</AuthorizeView>