@page "/mytests"
@using Client.Services
@using Client.Models
@using Microsoft.AspNetCore.Authorization
@inject TestsService TestsService
@inject NavigationManager NavigationManager
@attribute [Authorize]
<h3>MyTests</h3>

@if (TestsModels != null)
{
    @foreach (var test in TestsModels)
    {
        <details class="form-control">
            <summary>Test id @test.Id</summary>
            <EditForm Model="test">
                <CascadingValue Value="test">
                    <TestComponent/>
                </CascadingValue>
            </EditForm>
            <button class="btn-primary mt-1" @onclick="() => UpdateTest(test)">Update test</button>
        </details>
    }
}

@code {

    private IEnumerable<TestsModel>? TestsModels { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        TestsModels = await TestsService.GetAllTests();
    }


    private async Task UpdateTest(TestsModel model)
    {
        var result = await TestsService.UpdateTest(model);
        
        if (result)
            NavigationManager.NavigateTo("/mytests", true);
    }

}

