@page "/mytests"
@using Client.Services
@using Client.Models
@using Microsoft.AspNetCore.Authorization
@inject TestsService TestsService
@attribute [Authorize]
<h3>MyTests</h3>

@if (TestsModels != null)
{
    @foreach (var test in TestsModels)
    {
        <details class="form-control">
            <summary>Test id @test.Id</summary>
            @foreach (var q in test.Questions)
            {
                <EditForm Model="test">
                    <CascadingValue Value="test">
                        <TestComponent/>
                    </CascadingValue>
                </EditForm>
            }
            <button class="btn-primary">Update test</button>
        </details>
    }
}

@code {

    private IEnumerable<TestsModel>? TestsModels { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        TestsModels = await TestsService.GetAllTests();
    }

    

}

